In [23]:
import pandas as pd
# Reload the datasets with the correct delimiter
math_data = pd.read_csv('data/student-mat.csv', delimiter=';')
portuguese_data = pd.read_csv('data/student-por.csv', delimiter=';')

# Verify the structure by displaying the first few rows of each dataset again
math_data.head(), portuguese_data.head()

(  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
 0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
 1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
 2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
 3     GP   F   15       U     GT3       T     4     2   health  services  ...
 4     GP   F   16       U     GT3       T     3     3    other     other  ...

   famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
 0      4        3      4     1     1      3        6   5   6   6
 1      5        3      3     1     1      3        4   5   5   6
 2      4        3      2     2     3      3       10   7   8  10
 3      3        2      2     1     1      5        2  15  14  15
 4      4        3      2     1     2      5        4   6  10  10

 [5 rows x 33 columns],
   school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
 0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
 1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
 2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
 3     GP   F   15       U     GT3       T     4     2   health  services  ...
 4     GP   F   16       U     GT3       T     3     3    other     other  ...

   famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
 0      4        3      4     1     1      3        4   0  11  11
 1      5        3      3     1     1      3        2   9  11  11
 2      4        3      2     2     3      3        6  12  13  12
 3      3        2      2     1     1      5        0  14  14  14
 4      4        3      2     1     2      5        0  11  13  13

 [5 rows x 33 columns])

In [17]:
# Define the columns to create a unique student ID
id_cols = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 
           'Mjob', 'Fjob', 'reason', 'nursery', 'internet']

# Create 'student_id' for both datasets
math_data['student_id'] = math_data[id_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
portuguese_data['student_id'] = portuguese_data[id_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

# Append 'student_id' in id_col
id_cols.append('student_id')

# Merge the datasets on 'student_id'

merged_data = pd.merge(math_data, portuguese_data, on=id_cols, suffixes=('_mat', '_por'), how='outer')

# Check the structure and first few rows of the merged dataset
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 54 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school          682 non-null    object
 1   sex             682 non-null    object
 2   age             682 non-null    int64
 3   address         682 non-null    object
 4   famsize         682 non-null    object
 5   Pstatus         682 non-null    object
 6   Medu            682 non-null    int64
 7   Fedu            682 non-null    int64
 8   Mjob            682 non-null    object
 9   Fjob            682 non-null    object
 10  reason          682 non-null    object
 11  guardian_mat    407 non-null    object
 12  traveltime_mat  407 non-null    float64
 13  studytime_mat   407 non-null    float64
 14  failures_mat    407 non-null    float64
 15  schoolsup_mat   407 non-null    object
 16  famsup_mat      407 non-null    object
 17  paid_mat        407 non-null    object
 18  activities_mat  407 non-null    object
 19  nursery         682 non-null    object
 20  higher_mat      407 non-null    object
 21  internet        682 non-null    object
 22  romantic_mat    407 non-null    object
 23  famrel_mat      407 non-null    float64
 24  freetime_mat    407 non-null    float64
 25  goout_mat       407 non-null    float64
 26  Dalc_mat        407 non-null    float64
 27  Walc_mat        407 non-null    float64
 28  health_mat      407 non-null    float64
 29  absences_mat    407 non-null    float64
 30  G1_mat          407 non-null    float64
 31  G2_mat          407 non-null    float64
 32  G3_mat          407 non-null    float64
 33  student_id      682 non-null    object
 34  guardian_por    657 non-null    object
 35  traveltime_por  657 non-null    float64
 36  studytime_por   657 non-null    float64
 37  failures_por    657 non-null    float64
 38  schoolsup_por   657 non-null    object
 39  famsup_por      657 non-null    object
 40  paid_por        657 non-null    object
 41  activities_por  657 non-null    object
 42  higher_por      657 non-null    object
 43  romantic_por    657 non-null    object
 44  famrel_por      657 non-null    float64
 45  freetime_por    657 non-null    float64
 46  goout_por       657 non-null    float64
 47  Dalc_por        657 non-null    float64
 48  Walc_por        657 non-null    float64
 49  health_por      657 non-null    float64
 50  absences_por    657 non-null    float64
 51  G1_por          657 non-null    float64
 52  G2_por          657 non-null    float64
 53  G3_por          657 non-null    float64
dtypes: float64(26), int64(3), object(25)
memory usage: 287.8+ KB

In [13]:
combined_df = merged_data

# Correctly append '_0' to all student_ids in the combined_df to represent original entries
combined_df['student_id'] = combined_df['student_id'].apply(lambda x: x + '_0')

# Check the first few rows to confirm the change
combined_df[['student_id']].head()

                                          student_id
0  GP_F_18_U_GT3_A_4_4_at_home_teacher_course_yes...
1  GP_F_17_U_GT3_T_1_1_at_home_other_course_no_yes_0
2  GP_F_15_U_LE3_T_1_1_at_home_other_other_yes_yes_0
3  GP_F_15_U_GT3_T_4_2_health_services_home_yes_y...
4      GP_F_16_U_GT3_T_3_3_other_other_home_yes_no_0

In [14]:
# Identify and print the duplicate student_ids
duplicate_student_ids = combined_df[combined_df.duplicated(subset='student_id', keep=False)]

# Group the duplicate entries by student_id and compare the rows within each group
duplicate_groups = duplicate_student_ids.groupby('student_id')

# Inspect differences within each group
differences = {}
for student_id, group in duplicate_groups:
    if not group.equals(group.iloc[0]):
        differences[student_id] = group

# Show differences for the first few student_ids
for student_id, group in list(differences.items())[:]: 
    print(f"Differences for student_id: {student_id}")
    print(group)
    print("\n")

Differences for student_id: GP_F_17_U_GT3_T_4_4_teacher_services_course_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
339     GP   F   17       U     GT3       T     4     4  teacher  services
340     GP   F   17       U     GT3       T     4     4  teacher  services

     ... famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
339  ...        5.0          3.0        1.0       1.0       4.0        5.0
340  ...        5.0          4.0        4.0       1.0       3.0        4.0

    absences_por G1_por G2_por G3_por
339          2.0   11.0   11.0   12.0
340          0.0   13.0   12.0   13.0

[2 rows x 54 columns]


Differences for student_id: GP_F_18_U_GT3_T_1_1_other_other_home_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu   Mjob   Fjob  ...  \
293     GP   F   18       U     GT3       T     1     1  other  other  ...
294     GP   F   18       U     GT3       T     1     1  other  other  ...

    famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
293        5.0          4.0        4.0       1.0       1.0        4.0
294        4.0          5.0        5.0       1.0       2.0        2.0

    absences_por G1_por G2_por G3_por
293          0.0   12.0   13.0   13.0
294          0.0   14.0   14.0   14.0

[2 rows x 54 columns]


Differences for student_id: GP_M_16_U_GT3_T_3_3_services_other_home_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob   Fjob  ...  \
110     GP   M   16       U     GT3       T     3     3  services  other  ...
111     GP   M   16       U     GT3       T     3     3  services  other  ...
112     GP   M   16       U     GT3       T     3     3  services  other  ...
113     GP   M   16       U     GT3       T     3     3  services  other  ...

    famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
110        5.0          3.0        3.0       1.0       1.0        5.0
111        4.0          2.0        3.0       1.0       2.0        3.0
112        5.0          3.0        3.0       1.0       1.0        5.0
113        4.0          2.0        3.0       1.0       2.0        3.0

    absences_por G1_por G2_por G3_por
110          4.0   13.0   14.0   14.0
111          0.0   11.0   12.0   13.0
112          4.0   13.0   14.0   14.0
113          0.0   11.0   12.0   13.0

[4 rows x 54 columns]


Differences for student_id: GP_M_16_U_GT3_T_4_4_services_services_course_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
249     GP   M   16       U     GT3       T     4     4  services  services
250     GP   M   16       U     GT3       T     4     4  services  services

     ... famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
249  ...        5.0          3.0        3.0       1.0       3.0        5.0
250  ...        5.0          3.0        2.0       1.0       2.0        5.0

    absences_por G1_por G2_por G3_por
249          0.0   15.0   13.0   13.0
250          4.0   14.0   15.0   15.0

[2 rows x 54 columns]


Differences for student_id: GP_M_16_U_GT3_T_4_4_teacher_teacher_course_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu     Mjob     Fjob  \
121     GP   M   16       U     GT3       T     4     4  teacher  teacher
122     GP   M   16       U     GT3       T     4     4  teacher  teacher
123     GP   M   16       U     GT3       T     4     4  teacher  teacher
124     GP   M   16       U     GT3       T     4     4  teacher  teacher

     ... famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
121  ...        5.0          4.0        4.0       1.0       2.0        5.0
122  ...        3.0          3.0        2.0       2.0       1.0        5.0
123  ...        5.0          4.0        4.0       1.0       2.0        5.0
124  ...        3.0          3.0        2.0       2.0       1.0        5.0

    absences_por G1_por G2_por G3_por
121          6.0   16.0   14.0   14.0
122         16.0    9.0    9.0    8.0
123          6.0   16.0   14.0   14.0
124         16.0    9.0    9.0    8.0

[4 rows x 54 columns]


Differences for student_id: GP_M_17_U_GT3_T_2_1_other_other_home_yes_yes_0
   school sex  age address famsize Pstatus  Medu  Fedu   Mjob   Fjob  ...  \
78     GP   M   17       U     GT3       T     2     1  other  other  ...
79     GP   M   17       U     GT3       T     2     1  other  other  ...
80     GP   M   17       U     GT3       T     2     1  other  other  ...
81     GP   M   17       U     GT3       T     2     1  other  other  ...

   famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
78        4.0          5.0        1.0       1.0       1.0        3.0
79        5.0          4.0        5.0       1.0       2.0        5.0
80        4.0          5.0        1.0       1.0       1.0        3.0
81        5.0          4.0        5.0       1.0       2.0        5.0

   absences_por G1_por G2_por G3_por
78          0.0    9.0    9.0   10.0
79         22.0    9.0    7.0    6.0
80          0.0    9.0    9.0   10.0
81         22.0    9.0    7.0    6.0

[4 rows x 54 columns]


Differences for student_id: GP_M_18_U_GT3_T_4_4_teacher_services_home_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
284     GP   M   18       U     GT3       T     4     4  teacher  services
285     GP   M   18       U     GT3       T     4     4  teacher  services
286     GP   M   18       U     GT3       T     4     4  teacher  services
287     GP   M   18       U     GT3       T     4     4  teacher  services

     ... famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
284  ...        3.0          2.0        4.0       1.0       4.0        3.0
285  ...        4.0          3.0        3.0       2.0       2.0        2.0
286  ...        3.0          2.0        4.0       1.0       4.0        3.0
287  ...        4.0          3.0        3.0       2.0       2.0        2.0

    absences_por G1_por G2_por G3_por
284          6.0   11.0   12.0   12.0
285          0.0   12.0   12.0   13.0
286          6.0   11.0   12.0   12.0
287          0.0   12.0   12.0   13.0

[4 rows x 54 columns]


Differences for student_id: MS_F_16_R_GT3_T_2_2_other_other_course_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu   Mjob   Fjob  ...  \
497     MS   F   16       R     GT3       T     2     2  other  other  ...
498     MS   F   16       R     GT3       T     2     2  other  other  ...
499     MS   F   16       R     GT3       T     2     2  other  other  ...

    famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
497        4.0          4.0        4.0       1.0       1.0        5.0
498        4.0          4.0        5.0       1.0       1.0        4.0
499        3.0          4.0        5.0       1.0       2.0        1.0

    absences_por G1_por G2_por G3_por
497          0.0   12.0   12.0   12.0
498          4.0    9.0   10.0   11.0
499          1.0    9.0   10.0   11.0

[3 rows x 54 columns]


Differences for student_id: MS_F_16_U_GT3_T_1_2_other_services_course_yes_no_0
    school sex  age address famsize Pstatus  Medu  Fedu   Mjob      Fjob  ...  \
527     MS   F   16       U     GT3       T     1     2  other  services  ...
528     MS   F   16       U     GT3       T     1     2  other  services  ...

    famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
527        1.0          3.0        2.0       1.0       2.0        4.0
528        1.0          3.0        2.0       1.0       2.0        4.0

    absences_por G1_por G2_por G3_por
527          0.0   10.0    8.0    8.0
528          3.0    9.0    8.0    8.0

[2 rows x 54 columns]


Differences for student_id: MS_F_18_U_GT3_T_1_1_other_other_course_yes_no_0
    school sex  age address famsize Pstatus  Medu  Fedu   Mjob   Fjob  ...  \
400     MS   F   18       U     GT3       T     1     1  other  other  ...
401     MS   F   18       U     GT3       T     1     1  other  other  ...

    famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
400        3.0          4.0        4.0       2.0       2.0        5.0
401        1.0          1.0        1.0       1.0       1.0        5.0

    absences_por G1_por G2_por G3_por
400          3.0    7.0    8.0    7.0
401          6.0   11.0   12.0    9.0

[2 rows x 54 columns]


Differences for student_id: MS_M_15_R_LE3_T_4_1_health_services_reputation_yes_yes_0
    school sex  age address famsize Pstatus  Medu  Fedu    Mjob      Fjob  \
517     MS   M   15       R     LE3       T     4     1  health  services
518     MS   M   15       R     LE3       T     4     1  health  services

     ... famrel_por freetime_por  goout_por  Dalc_por  Walc_por health_por  \
517  ...        5.0          3.0        4.0       1.0       2.0        2.0
518  ...        5.0          3.0        4.0       1.0       2.0        2.0

    absences_por G1_por G2_por G3_por
517          0.0   12.0   13.0   14.0
518          7.0    7.0    9.0    8.0

[2 rows x 54 columns]

In [15]:
# Append '_0' to all student_ids in both the math and portuguese datasets to indicate original entries
math_data['student_id'] = math_data['student_id'].apply(lambda x: x + '_0')
portuguese_data['student_id'] = portuguese_data['student_id'].apply(lambda x: x + '_0')

# Verify the changes by displaying the first few rows of both datasets
math_data[['student_id']].head(), portuguese_data[['student_id']].head()

(                                          student_id
 0  GP_F_18_U_GT3_A_4_4_at_home_teacher_course_yes...
 1  GP_F_17_U_GT3_T_1_1_at_home_other_course_no_yes_0
 2  GP_F_15_U_LE3_T_1_1_at_home_other_other_yes_yes_0
 3  GP_F_15_U_GT3_T_4_2_health_services_home_yes_y...
 4      GP_F_16_U_GT3_T_3_3_other_other_home_yes_no_0,
                                           student_id
 0  GP_F_18_U_GT3_A_4_4_at_home_teacher_course_yes...
 1  GP_F_17_U_GT3_T_1_1_at_home_other_course_no_yes_0
 2  GP_F_15_U_LE3_T_1_1_at_home_other_other_yes_yes_0
 3  GP_F_15_U_GT3_T_4_2_health_services_home_yes_y...
 4      GP_F_16_U_GT3_T_3_3_other_other_home_yes_no_0)

Now for each student_id duplicate row check these columns'
'paid', 'famrel', 'freetime', 'failures', 'goout', 'studytime', 'health', 'Dalc', 'higher', 'guardian', 'Walc', 'romantic', 'famsup', 'schoolsup', 'traveltime', 'activities' of the _mat and _por versions within that row
also keep a counter starting from 0 for each student_id
if they match then keep them and manipulate the last  them the counter at the end of the student . If they don't keep them both. As each group is resolved Also simultaneously save the student_ids that have been manipulated o

1. for each student_id in the differences find them in math_data and portuguese_data. I'm sure you'll find multiple rows representing same student_id in both.
2. save these rows in seperate groups saying _mat and _por from the math_data and portuguese_data. and delete all the duplicates from the combined_df
3. compare these columns 'paid', 'famrel', 'freetime', 'failures', 'goout', 'studytime', 'health', 'Dalc', 'higher', 'guardian', 'Walc', 'romantic', 'famsup', 'schoolsup', 'traveltime', 'activities' of both the groups
4. wherever they match therefore they are the same student so manipulate the last integer in the student_id by changing the integer value(so that the same students get matching id in both groups also change the student_id in the math_data and portuguese_data for the respective student) so add them to the combined_df acc. to its format of columns by copying the columns _mat and _por from the respective student_id to the combined_df and update the respective student_id.
5. do this for all the duplicates and this should resolve the issue of duplicates

In [18]:
# Step 1: Identify and separate entries from math_data and portuguese_data based on differences found
student_ids_with_diffs = list(differences.keys())

# Find entries in math_data and portuguese_data for each student_id with differences
math_groups = {}
portuguese_groups = {}

for student_id in student_ids_with_diffs:
    original_id = student_id[:-2]  # Remove the '_0' to match against the original data
    math_groups[student_id] = math_data[math_data['student_id'] == original_id]
    portuguese_groups[student_id] = portuguese_data[portuguese_data['student_id'] == original_id]

# Example print to verify the separation into groups (showing one example)
math_groups[student_ids_with_diffs[0]], portuguese_groups[student_ids_with_diffs[0]]

(    school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
 328     GP   F   17       U     GT3       T     4     4  teacher  services

      ... freetime goout  Dalc  Walc  health absences  G1 G2 G3  \
 328  ...        4     4     1     3       4        7  10  9  9

                                             student_id
 328  GP_F_17_U_GT3_T_4_4_teacher_services_course_ye...

 [1 rows x 34 columns],
     school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
 271     GP   F   17       U     GT3       T     4     4  teacher  services
 380     GP   F   17       U     GT3       T     4     4  teacher  services

      ... freetime goout  Dalc  Walc  health absences  G1  G2  G3  \
 271  ...        3     1     1     4       5        2  11  11  12
 380  ...        4     4     1     3       4        0  13  12  13

                                             student_id
 271  GP_F_17_U_GT3_T_4_4_teacher_services_course_ye...
 380  GP_F_17_U_GT3_T_4_4_teacher_services_course_ye...

 [2 rows x 34 columns])

In [19]:
# Step 2: Remove the duplicate entries from combined_df
for student_id in student_ids_with_diffs:
    # Remove entries matching the duplicate student_id
    combined_df = combined_df[combined_df['student_id'] != student_id]

# Verify by checking if any of the duplicate student_ids still exist in combined_df
remaining_duplicates_check = combined_df[combined_df['student_id'].isin(student_ids_with_diffs)]
remaining_duplicates_check

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian_mat, traveltime_mat, studytime_mat, failures_mat, schoolsup_mat, famsup_mat, paid_mat, activities_mat, nursery, higher_mat, internet, romantic_mat, famrel_mat, freetime_mat, goout_mat, Dalc_mat, Walc_mat, health_mat, absences_mat, G1_mat, G2_mat, G3_mat, student_id, guardian_por, traveltime_por, studytime_por, failures_por, schoolsup_por, famsup_por, paid_por, activities_por, higher_por, romantic_por, famrel_por, freetime_por, goout_por, Dalc_por, Walc_por, health_por, absences_por, G1_por, G2_por, G3_por]
Index: []

[0 rows x 54 columns]

In [21]:
# Specified columns for comparison
comparison_columns = ['paid', 'famrel', 'freetime', 'failures', 'goout', 'studytime', 
                      'health', 'Dalc', 'higher', 'guardian', 'Walc', 'romantic', 
                      'famsup', 'schoolsup', 'traveltime', 'activities']

# Function to check if entries across datasets match on specified columns
def entries_match(row1, row2):
    return all(row1[col] == row2[col] for col in comparison_columns)

# Adjusting the function to manually create a new row from both math and Portuguese data entries

def handle_duplicates_and_combine_adjusted(math_group, port_group, combined_df):
    for _, math_row in math_group.iterrows():
        for _, port_row in port_group.iterrows():
            if entries_match(math_row, port_row):
                # Create a unified student_id
                unified_id = math_row['student_id'][:-2] + "_1"

                # Update the original dataframes
                math_data.loc[math_data['student_id'] == math_row['student_id'], 'student_id'] = unified_id
                portuguese_data.loc[portuguese_data['student_id'] == port_row['student_id'], 'student_id'] = unified_id

                # Manually create a new row combining both math and Portuguese data
                new_row_data = {**math_row.to_dict(), **port_row.to_dict(), 'student_id': unified_id}
                new_combined_row = pd.DataFrame([new_row_data], columns=combined_df.columns)

                # Append the new row to the combined_df
                combined_df = pd.concat([combined_df, new_combined_row], ignore_index=True)

                break  # Stop checking after the first match
    return combined_df

# Apply the adjusted function to each pair of groups
for student_id, math_group in math_groups.items():
    port_group = portuguese_groups[student_id]
    combined_df = handle_duplicates_and_combine_adjusted(math_group, port_group, combined_df)

# Display the first few updated entries in combined_df to verify changes
combined_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,GP,F,15,U,GT3,T,4,2,health,services,...,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,GP,F,16,U,GT3,T,3,3,other,other,...,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [22]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 54 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school          656 non-null    object
 1   sex             656 non-null    object
 2   age             656 non-null    int64
 3   address         656 non-null    object
 4   famsize         656 non-null    object
 5   Pstatus         656 non-null    object
 6   Medu            656 non-null    int64
 7   Fedu            656 non-null    int64
 8   Mjob            656 non-null    object
 9   Fjob            656 non-null    object
 10  reason          656 non-null    object
 11  guardian_mat    383 non-null    object
 12  traveltime_mat  383 non-null    float64
 13  studytime_mat   383 non-null    float64
 14  failures_mat    383 non-null    float64
 15  schoolsup_mat   383 non-null    object
 16  famsup_mat      383 non-null    object
 17  paid_mat        383 non-null    object
 18  activities_mat  383 non-null    object
 19  nursery         656 non-null    object
 20  higher_mat      383 non-null    object
 21  internet        656 non-null    object
 22  romantic_mat    383 non-null    object
 23  famrel_mat      383 non-null    float64
 24  freetime_mat    383 non-null    float64
 25  goout_mat       383 non-null    float64
 26  Dalc_mat        383 non-null    float64
 27  Walc_mat        383 non-null    float64
 28  health_mat      383 non-null    float64
 29  absences_mat    383 non-null    float64
 30  G1_mat          383 non-null    float64
 31  G2_mat          383 non-null    float64
 32  G3_mat          383 non-null    float64
 33  student_id      656 non-null    object
 34  guardian_por    626 non-null    object
 35  traveltime_por  626 non-null    float64
 36  studytime_por   626 non-null    float64
 37  failures_por    626 non-null    float64
 38  schoolsup_por   626 non-null    object
 39  famsup_por      626 non-null    object
 40  paid_por        626 non-null    object
 41  activities_por  626 non-null    object
 42  higher_por      626 non-null    object
 43  romantic_por    626 non-null    object
 44  famrel_por      626 non-null    float64
 45  freetime_por    626 non-null    float64
 46  goout_por       626 non-null    float64
 47  Dalc_por        626 non-null    float64
 48  Walc_por        626 non-null    float64
 49  health_por      626 non-null    float64
 50  absences_por    626 non-null    float64
 51  G1_por          626 non-null    float64
 52  G2_por          626 non-null    float64
 53  G3_por          626 non-null    float64
dtypes: float64(26), int64(3), object(25)
memory usage: 276.9+ KB